{% extends 'base.html' %}
{% block content %}
<h1>Личный кабинет</h1>
<p>Добро пожаловать, {{ user.first_name }}!</p>
<p>Ваш email: {{ user.email }}</p>
<p><a href="/logout">Выйти</a></p>

<h2>Транзакции</h2>
    <table class="table table-hover">
    <thead>
        <tr>
            <th>id</th>
            <th>Описание</th>
            <th>Сумма</th>
            <th>Операции</th>
        </tr>
    </thead>
    <tbody>
    {% for transaction in transactions %}
        <tr>
            <td>{{ transaction.id }}</td>
            <td>{{ transaction.description }}</td>
            <td style="color: {% if transaction.amount < 0 %}red{% else %}darkgreen{% endif %}">
                {{ transaction.amount }} KZT
            </td>
            <td><a class="btn btn-sm btn-danger" href="/delete/{{ transaction.id }}">delete</a></td>
        </tr>
    {% endfor %}
    </tbody>
    </table>

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Добавить
    </button>

{% include "create.html" %}

{% endblock %}
